<!DOCTYPE html>

<html>
<head>
    <script type="text/javascript">
        constants = {
            searchRepositories: '@Url.RouteUrl(new { controller = "repository", action = "search" })',
            loadRandomRepository: '@Url.RouteUrl(new { controller = "repository", action = "random" })'
        }
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OpenSource Explorer</title>
</head>
<body>
    <div id="root">
    </div>
    <script src="~/assets/bundle.js" asp-append-version="true"></script>
</body>
</html>