.header-container {
    background-color: #fdfadb;
    display: table;
    height: 100px;
    width: 100%;
    z-index: 2;
}

@media screen and (min-width: 576px) {
    .header-container {
        position: fixed;
    }
}

.header {
    display: table-cell;
    font-family: Consolas, monospace;
    font-size: 24px;
    font-weight: lighter;
    text-align: center;
    vertical-align: middle;
}
